@import "tailwindcss";

@font-face {
  font-family: Bebas;
  src: url(./assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Modernline;
  src: url(./assets/fonts/Modernline.ttf);
}
@font-face {
  font-family: Editorial;
  src: url(./assets/fonts/editorial/PPEditorialNew-Ultralight-BF644b21500d0c0.otf);
}

@theme {
  --color-primary: #e0ff4f;
  --color-secondary: #cacaca;
  --color-tertiary: #d9d9d9;
  --font-display: Bebas, "sans-serif";
  --font-subtext: Modernline, "sans-serif";
  --font-body: Editorial, "sans-serif";
  --text-4xl: 4rem; /* Overwrite Default */
}

@layer base {
  h2 {
    font-family: var(--font-display);
  }
  cite {
    font-family: var(--font-subtext);
  }
  p,
  h3 {
    font-family: var(--font-body);
    font-size: 24px;
  }
  a {
    font-family: var(--font-body);
  }
}
